<!DOCTYPE html>
<html>
  <head>
    <title>Myapp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <div class='header_logo'>
        <div class='title_name'>Site&nbsp;Stock</div>
      </div>
      <div class='header_menus'>
        <div class='button'>
          <%= link_to("一覧画面", "/home/top") %>
        </div>
        <div class='button'>
          <%= link_to("新規登録", "/home/new") %>
        </div>
        <div class='button'>ログアウト</div>
      </div>
    </header>
    <%= yield %>
  </body>
</html>
